@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
html{
  font-size: 62.5%;
  box-sizing: border-box;

  body, #root{
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  body, input, select, textarea {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}
